@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans&family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #1C1D26;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.profile-img{
    border-radius: 50%;
    vertical-align: middle;
}
.navbar{
    background: linear-gradient(90deg, rgba(58,167,180,1) 25%, rgba(124,69,252,1) 100%);
    display: flex;
    flex-direction: column;
    padding: .5rem;
}
.navbar-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navbar-logo-menu{
    display: flex;
    flex-wrap: wrap;
}
.navbar-brand {
    margin: 0rem 1.5rem 0rem;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    text-decoration: none;
    color: #ffffff;
}
.nav-btn{
    margin-right: auto;
    margin-left: auto;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5px;
}

.nav-link{
        padding: 0px 15px;
        color: #ffffff;
        text-decoration: none;
}
.nav-link:hover{
    color: #1C1D26;
}
.navbar-nav {
    list-style: none;
    text-decoration: none;
}
.btn-nav{
    background-color: rgba(91, 29, 235, 0.685);
    padding: .6rem 2rem .6rem;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 2px;
}
.btn-nav:hover{
    background-color: rgba(49, 13, 133, 0.904);
}

.side-bar{
    display: flex;
    min-height: 92vh;
}
.sidebar-element{
    display: flex;
    flex-direction:column;
    background-color: #2a2c3893;
    box-shadow: rgba(0, 0, 0, 0.10)2.4px 0 0.2px;
    max-width: 10.6vh;
    max-height: 2000px;
    line-height: 3vh;
    font-size: 1.5vh;
}
.sidebar-bottom{
    margin-top: 22vh;
}
.nav-item{
    border-bottom: 1px solid #424242;
    text-align: center;
}
.nav-item-link{
    text-decoration: none;
    color: #ffffff;
    padding: 0px 10px;
}
.nav-item-last{
    border: none;
}
.nav-item:hover{
    background-color: #424242;
}
.bubble{
    display: inline-block;
    position: absolute;
    line-height: 15px;
    background-color: purple;
    padding: 1px 5px;
    margin: -8px 0px 0px -10px;
    border-radius: 75px;
}


/* Dropdown Css Style */

.nav-item-dropdown {
position: relative;
}

.dropdown-trigger {
position: relative;
}
.dropdown-menu-link{
text-decoration: none;
color: #1C1D26;
}
.dropdown-menu-link:hover{
color:#817f7f9d;
}

  
  /* Mega dropdown menu */
.dropdown-trigger:focus + .mega-dropdowm-menu{
    display: flex;
    opacity: 1;
}
.nav-item-dropdown:hover > .mega-dropdowm-menu{
    display: flex;
    opacity: 1;
}
.mega-dropdowm-menu{
    background-color: #ffffff;
    display: none;
    justify-content: space-around;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease; 
    border-radius: 2px;
}
.mega-dropdowm-item{
    padding: 10px;
    flex: 0 1 24%;
}
.mega-dropdowm-item img{
    border-radius: 5px;
}

/* Dropdown menu */

  .nav-item-dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
  
  .dropdown-trigger:focus + .dropdown-menu {
    display: block;
    opacity: 1;
  }  

.dropdown-menu {
    background-color: #ffffff;
    display: none;
    text-align:start;
    position: absolute;
    right: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease; 
    width: 160px;
    border-radius: 2px;
}

.dropdown-menu-item {
  cursor: pointer;
  padding: .2rem;
  text-align: start;
}
