@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans&family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #1C1D26;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.navbar{
    background: linear-gradient(90deg, rgba(58,167,180,1) 25%, rgba(124,69,252,1) 100%);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.navbar-inner{
    display: flex;
    flex-wrap: wrap;
}
.navbar-logo-menu{
    display: flex;
    flex-wrap: wrap;
}
.navbar-brand {
    padding-top: 0.31rem;
    margin: 20px;
    text-decoration: none;
    color: #ffffff;
}
.nav-btn{
    margin-right: auto;
    margin-left: auto;

}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
}

.nav-link{
        padding: 0px 15px;
        color: #ffffff;
        text-decoration: none;
}
.navbar-nav {
    list-style: none;
}
.btn-nav{
    padding: 5px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    background-color: rgba(91, 29, 235, 0.295);
}

.side-bar{
    display: flex;
}
.sidebar-element{
    display: flex;
    flex-direction:column;
    background-color: #2a2c3893;
    box-shadow: rgba(0, 0, 0, 0.10)2.4px 0 0.2px;
    width: 14vh;
}
.text-center{
    text-align: center;
    font-size: 12px;
}
.sidebar-bottom{
    margin-top: 100%;
    padding-bottom: 1%;
}
.nav-item{
    border-bottom: 1px solid #424242;
}


/* Register page Css */
.container{
    margin: 5% 10%;
    width: 75%;
    background-color: rgb(255, 255, 255);
}
.register-container{
    padding: 4%;
}
.fa-xmark{
    float: right;
    padding: 2%;
    font-size: 20px;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.btn{
    background-color: transparent;
    border: none;
    color:rgb(161, 161, 161) ;
}
.common-btn{
    background-color: white;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    width: 200px;
    text-align: center;
}
.common-btn:last-child{
    background-color: rgb(231, 231, 231);
}

input{
    margin-left: 25%;
    width: 50%;
    padding: 10px;
    margin-bottom: 2%;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
}
.divider{
    text-align: center;
    padding: 2%;
    color: rgb(161, 161, 161);
}
h3{
    font-size: 35px;
    text-align: center;
    padding-bottom: 1%;
}
h4{
    margin-left: 25%;
    color: rgb(161, 161, 161);
}
p{
    color:rgb(161, 161, 161) ;
    text-align: center;
}
.input-btn{
    width: 52%;
    background-color: #3b3ee6;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.fa-facebook{
    font-size: 20px;
    color: blue;
}
.fa-google {
    font-size: 20px;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

